html
head
  title Dark Chess
  link(href="lib/css/board.css" type="text/css" rel="stylesheet")
  link(href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet")
  script(src="lib/js/handlebars-v4.0.5.js")
  script(src="lib/js/jquery-3.2.0.min.js" type="text/javascript")
  script(src="lib/js/chess.min.js" type="text/javascript")
  script(src="lib/js/script.js" type="text/javascript")
  meta(name="viewport" content="width=device-width, initial-scale=1")
body
  #room
    .rooms__header
      button.js-create-game.btn.btn--green.btn--big Create Game
    #room__games.cf
    
  #game(style="display: none;")
    .players
      .player.player__white
        span.player__name White
      .player.player__black
        span.player__name Black
    .board
      - var n = 8;
      while n > 0
        .board__row(data-row=n)
          - var cols = 'abcdefgh';
          - var m = 0;
          while m < 8
            .board__square(data-id=cols[m]+n)
              .board__square__overlay.board__square__overlay--threat
              .board__square__overlay.board__square__overlay--movement
              .board__square__overlay.board__square__overlay--invisible
              .board__square__overlay.board__piece
              - m++
          - n--

    .captures
      .captures__black
      .captures__white

    .modal-overlay
      .modal
        h1.modal__head
        p.modal__body
        .modal__game-options
          label
            input(type="checkbox" name="shade-invisible" checked)
            .
              Only show squares of player's legal moves (fog of war) 
          label
            input(type="checkbox" name="shade-threat" checked)
            .
              Highlight relevant threats to player's pieces
          label
            input(type="checkbox" name="opponent-invisible")
            .
              Opponent's pieces are always invisible
          label
            input(type="checkbox" name="opponent-pieces-anonymous")
            .
              Opponent's pieces are anonymous
          label
            input(type="checkbox" name="show-player-captures" checked)
            .
              Show player the pieces they've captured
          label
            input(type="checkbox" name="show-opponent-captures" checked)
            .
              Show player the pieces the opponent has captured
          label
            input(type="checkbox" name="announce-check-on-player" checked)
            .
              Announce when the player is in check
          label
            input(type="checkbox" name="announce-check-on-opponent" checked)
            .
              Announce when the opponent is in check
          label
            input(type="checkbox" name="play-as-white" checked)
            .
              I'll play as white
        .modal__footer
          button.modal__action.btn.btn--big
  
  script#single-game-template(type="text/x-handlebars-template")
    .
      {{#each items}}
    .room
      h1.
        {{this.title}}
      .room__body
        h2 Rules
        ul.rules.
          <li>Open seat: {{this.game.openSeat}}</li>
          {{#if this.game.opponentInvisible}}
            <li>Opponent Invisible</li>
          {{/if}}
          {{#if this.game.opponentPiecesAnonymous}}
            <li>Opponent Pieces Anonymous</li>
          {{/if}}
          {{#if this.game.shadeInvisible}}
            <li>Fog of War</li>
          {{/if}}
          {{#if this.game.shadeThreat}}
            <li>Show Relevant Threats</li>
          {{/if}}
          {{#if this.game.showOpponentCaptures}}
            <li>Show Opponent's Captures</li>
          {{/if}}
          {{#if this.game.showPlayerCaptures}}
            <li>Show Player's Captures</li>
          {{/if}}
          {{#if this.game.announceCheckOnOpponent}}
            <li>Announce Check On Opponent</li>
          {{/if}}
          {{#if this.game.announceCheckOnPlayer}}
            <li>Announce Check On Player</li>
          {{/if}}
        .room__footer.
          <button class="js-join-game btn" data-game-id="{{this.game.id}}">Join</button>
    .
      {{/each}}